{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>SOCI - Социометрия</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">

  </head>

  <body id="body">
    <header class="navigation">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg p-0">
                <a class="navbar-brand" href="{% url 'home' %}">
                  SOCI {{school}}
                </a>
                <div class="collapse navbar-collapse ml-auto" id="navbarsExample09">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item @@contact"><a class="nav-link" href="{% url 'logout' %}">ВЫХОД</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>


    <section class="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color: white;">Создание социометрии для 5-6 классов</h2>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label style="color: white;"  class="form-label">Первый вопрос, версия А:</label>
                  <input type="text" name="first_question_A" placeholder="{{first_question_A}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label style="color: white;"  class="form-label">Первый вопрос, версия Б:</label>
                    <input type="text" name="first_question_B" placeholder="{{first_question_B}}" class="form-control">
                  </div>
                <div class="mb-3">
                    <label style="color: white;"  class="form-label">Второй вопрос, версия А:</label>
                    <input type="text" name="second_question_A" placeholder="{{second_question_A}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label style="color: white;"  class="form-label">Второй вопрос, версия Б:</label>
                    <input type="text" name="second_question_B" placeholder="{{second_question_B}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label style="color: white;"  class="form-label">Третий вопрос, версия А:</label>
                    <input type="text" name="third_question_A" placeholder="{{third_question_A}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label style="color: white;"  class="form-label">Третий вопрос, версия Б:</label>
                    <input type="text" name="third_question_B" placeholder="{{third_question_B}}" class="form-control">
                </div>
                <div class="mb-3">
                  <label style="color: white;"  class="form-label">Номер класса:</label>
                  <input type="text" name="students_class" placeholder="5" class="form-control">
                </div>
                <div class="mb-3">
                  <label style="color: white;"  class="form-label">Литера класса:</label>
                  <input type="text" name="students_litera" placeholder="A" class="form-control">
                </div>
                <button class="btn btn-primary" type="button submit" value="New test">Создать</button>
              </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright mb-0">MIT license</p>
          </div>
        </div>
      </div>
    </footer>


    <div id="scroll-to-top" class="scroll-to-top">
      <span class="icon ion-ios-arrow-up"></span>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>

</html>
   
