{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <form class="form-signin" action="." method="POST">    
        {% csrf_token %}   
        <h2 class="form-signin-heading">Вход</h2>
        <input type="text" class="form-control" name="username" placeholder="Имя" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Пароль" required=""/>      
        <div class="d-grid gap-2">
          <button class="btn btn-primary" style="background-color: #655E7A; border-color: #655E7A" type="button submit" value="Sign In">Войти</button>
        </div>  
      </form>
    </div>
  </body>
</html>
